<html>
<head>
<meta charset="utf-8">
<title>Ristretto files</title>
<style>
.container {
	padding: 30px;
	font-family: sans-serif;
	line-height: 150%;
}
</style>
</head>
<body>
<div class="container">
	<h1>Welcome to <a href="https://github.com/ViliamKopecky/Ristretto#ristretto">Ristretto</a></h1>
	<p n:if="empty($lattes)">You don't have any Latte templates yet.</p>
	<ul n:if="!empty($lattes)">
		<li n:foreach="$lattes as $name => $url"><a href="{$url}" n:tag-if="!empty($url)">{$name}</a></li>
	</ul>
</div>
</body>
</html>