<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Ristretto Error</title>
<style>
body {
	font-family: sans-serif;
	color: #005;
}
</style>
</head>
<body>
{default $message = 'Error'}
{$message|texy|noescape}
</body>
</html>